<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Software is more than just code</h3>
                <h1>We build great things with remarkable people</h1>
                <h5>technical strategy · development process · technical recruitment</h5>
                <h5>bespoke software engineering</h5>				
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->