---
---
{% include css/bootstrap.css %}
{% include css/site.css %}
{% include css/font-awesome.min.css %}

/* Centre the client images in small screens */
.img.client {
	margin: 0 auto;
	margin-bottom: 3em;
  padding: 1em;
}